body {
    font-family: 'Lora', serif;
    font-weight: 400;
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.caption {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

b {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #F49526 50%
    );
}